.table-responsive {
  overflow-x: auto; /* Permite scroll horizontal em tabelas largas */
  -webkit-overflow-scrolling: touch; /* Suporte para dispositivos móveis */
}

.table {
  white-space: nowrap; /* Evita quebra de texto nas células */
}

body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

h2, h3 {
  color: #343a40;
}

/* Navbar Styles */
.navbar {
  margin-bottom: 0;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: #343a40;
}

.navbar .nav-link {
  transition: color 0.3s ease, transform 0.2s ease-in-out;
  color: #ffffff;
  font-size: 1rem;
}

.navbar .nav-link:hover {
  color: #007bff;
  transform: scale(1.05);
}

.navbar .navbar-toggler {
  transition: transform 0.2s ease-in-out;
}

.navbar .navbar-toggler:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }

  .navbar .nav-link {
    font-size: 0.9rem;
  }

  .offcanvas-body {
    padding: 1rem;
    font-size: 1rem;
  }
}

/* Footer Styles */
.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 1rem 0;
  position: relative;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #007bff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }
}
