/* Página de Login com imagem de background */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Garante que a página ocupe a altura total da viewport */
  background-image: url('../images/background-image.jpg'); /* Caminho da imagem de fundo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

/* Efeito de overlay escuro sobre o background */
.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Efeito de overlay escuro */
  z-index: 1; /* Coloca o overlay acima da imagem */
}

.login-form {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9); /* Levemente mais opaco para melhor contraste */
  padding: 40px;
  border-radius: 12px; /* Aumentado para bordas mais arredondadas */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3); /* Aumentada a profundidade do sombreamento */
  width: 100%;
  max-width: 380px; /* Reduzido para telas menores */
  text-align: center;
  animation: fadeIn 0.6s ease-in-out; /* Adiciona uma animação de entrada */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.login-form h2 {
  color: #2c3e50;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form .input-group {
  position: relative;
}

.login-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  font-size: 15px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.login-form input:focus {
  border-color: #2980b9;
  box-shadow: 0 0 6px rgba(41, 128, 185, 0.5);
}

/* Botão de login */
.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.login-form button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

/* Estilo de link */
.login-form a {
  display: block;
  margin-top: 12px;
  color: #2980b9;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.login-form a:hover {
  color: #1f639b;
}

/* Estilo responsivo */
@media (max-width: 768px) {
  .login-form {
    padding: 30px;
    max-width: 90%;
  }

  .login-form h2 {
    font-size: 24px;
  }

  .login-form input {
    padding: 12px;
  }

  .login-form button {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .login-form {
    padding: 20px;
    max-width: 90%;
  }

  .login-form h2 {
    font-size: 20px;
  }

  .login-form input {
    padding: 10px;
    font-size: 14px;
  }

  .login-form button {
    padding: 10px;
    font-size: 13px;
  }
}
